@import "./vars.scss";

@font-face {
    font-family: "CeraRoundPro";
    src: url("./assets/fonts/CeraRoundProRegular.woff") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "CeraRoundPro-Bold";
    src: url("./assets/fonts/CeraRoundProBold.woff") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "CeraRoundPro-Thin";
    src: url("./assets/fonts/CeraRoundProThinRegular.woff") format("truetype");
    font-display: swap;
}

body {
    font-family: "CeraRoundPro";
    color: $body-color;
    background-color: $body-bg;
    margin: 0;
}

#app {
    text-align: center;
}

.game-board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 20px;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 30px;
}
@media (max-width: 550px) {
    .game-board-container {
        margin: 30px auto;
    }
}
