//palette
$primary-color: #e5e5e5;
$secondary-color: #14213d;
$tertiary-color: #fca311;

//colors
$body-bg: $primary-color;
$body-color: $secondary-color;

$navbar-bg: $secondary-color;
$navbar-color: $tertiary-color;
$navbar-button-bg: $secondary-color;
$navbar-button-color: $tertiary-color;
$navbar-button-border-color: $tertiary-color;
$navbar-button-shadow-color: $tertiary-color;

$card-front-bg: $secondary-color;
$card-front-color: $tertiary-color;
$card-front-border-color: $tertiary-color;
$card-front-shadow-color: $tertiary-color;

$card-back-bg: $tertiary-color;
$card-back-border-color: $secondary-color;
$card-back-shadow-color: $secondary-color;
